body {
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
 
}

.container {
  background-image: url('./images/flags.jpg'); 
  opacity: 0.8;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}
.header {
  
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}



.cardBox {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  

}

.card {
  width: 20%;
  max-width: 100%;
  margin: 20px;
  background-color:hsla(0, 100%, 50%, 0.3); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;


}

.dark-mode {
  background: black;
  color: white;
}
